
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background: linear-gradient(135deg, #1a766f 50%, #23b7a7 50%);
    color: white;
    margin: 0;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: none;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}

.navbar .login-btn {
    background-color: #252550;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 16px;
}

.navbar .login-btn:hover {
    background-color: #3a3a70;
}


.content {
    margin-top: 6%;
    padding: 80px 50px;
}

.content h1 {
    font-size: 115px;
    font-weight: bold;
    margin-left: 6%;
}

.content p {
    font-size: 24px;
    margin: 10px 0 30px;
    font-weight: 500;
    margin-left: 6%;
}

.content button {
    background-color: #362565;
    color: white;
    font-size: 20px;
    padding: 15px 30px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-transform: uppercase;
    margin-left: 6%;
    width: 32rem;
    height: 9vh;
}

.content button:hover {
    background-color: #413366;
}


.image-container {
    position: absolute;
    right: 50px;
    bottom: 80px;
}

.image-container img {
    width: 100%;
    height: auto;
    position: relative;
    top: 93px;
}


@media (max-width: 768px) {
    .content h1 {
        font-size: 40px;
    }

    .content p {
        font-size: 20px;
    }

    .content button {
        font-size: 18px;
        padding: 12px 20px;
    }

    .image-container img {
        width: 350px;
    }

    .navbar {
        padding: 20px;
        flex-direction: column;
    }

    .navbar a {
        margin: 10px 0;
    }
}